.app-navbar {
  background-color: white !important;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.12);
}

.navbar-brand-icon {
  margin-right: 0.5rem;
}

.navbar-username {
  color: black !important;
}

.navbar-buttons > * + * {
  margin-left: 0.5rem;
}

.navbar-user-icon {
  color: gray;
  margin-right: 0.5rem;
}