.friendcard-header {
  display: flex;
  justify-content: space-between;
}

.friendcard-buttons {
  display: flex;
  height: 1rem;
}

.friendcard-buttons > * {
  align-self: flex-start;
  font-size: 10px !important;
  margin-left: 0.5rem;
}

.friendcard-date {
  font-size: 0.9rem;
  color: gray;
}
