.login-view {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 25rem;
  max-width: 25rem;
  margin: 1rem;
}

.login-submit-button {
  width: 100%;
}
