.moneyshot-view {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  padding: 1rem;
}

.moneyshot-box {
  margin: 1rem;
}

.moneyshot-signup-button {
  width: 100%;
}

.moneyshot-title {
  font-size: 5rem;
}