.friends-view {
  display: flex;
  flex-grow: 1;
}

.friends-header {
  display: flex;
  justify-content: space-between;
}

.friends-addbutton {
  height: 2.5rem;
  align-self: flex-end;
}

.friends-title {
  align-self: flex-end;
  margin-bottom: 0;
}
