.notif-date {
  color: gray;
}

.notif-hr {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.notif-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notif {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notif-trash-btn {
  scale: 0.8;
}

.notif-add-btn {
  scale: 0.8;
}

.notif-popover {
  width: 20rem;
  max-width: 20rem !important;
  z-index: 10 !important;
}