.register-view {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.register-box {
  width: 25rem;
  max-width: 25rem;
  margin: 1rem;
}

.register-submit-button {
  width: 100%;
}
